@model MCENTER.Models.PROVEEDORES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PROVEEDORES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_proveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
